.modal {
    position: relative;
    width: 488px;
    padding: 24px 28px;
    background-color: #FFFFFF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    width: 700px;
    border: 2px solid rgba(0, 0, 0, 0.38);
    border-radius: 10px;
    padding: 15px;
}